body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 8px;
}

.title {
  background: #e3f4ff;
  margin: 0 0 8px 0;
  padding: 10px;
}

.content {
  background: #e3f4ff;
  margin: 8px 0 8px 0;
  padding: 10px;
  font-size: 16px;
  box-sizing: border-box;
}

.button-container {
  display: block;
  background: #e3f4ff;
  padding: 8px;
  font-size: 16px;
  text-align: center;

}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  padding: 8px 24px;
  margin: auto;/*вырвнивание по центру*/
  box-sizing: border-box;
}